@use '@angular/material' as mat;


body {
  font-family: Roboto, Arial, sans-serif;
  background: #e3f2fd; // Light indigo
  margin: 0;
}

.mat-toolbar {
  background: #283593; // Indigo 700
  color: white;
}

.mat-sidenav-container {
  min-height: 100vh;
}

.mat-card {
  margin: 1rem;
}

.mat-table {
  width: 100%;
}
